<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wok & roll</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
  href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
  rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Style sheet links -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/error-message.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/shopping-cart.css" />
  <link rel="stylesheet" href="/styles/food_menus.css" >
  <link rel="stylesheet" href="/styles/social-media-icons.css">
  <link rel="stylesheet" href="/styles/pics.css">
  <link rel="stylesheet" href="/styles/footer.css">


  <!-- App script -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

  <!-- Meta information -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

</head>
<body>

    <!-- Top nav bar (fixed) -->
    </section>
    <nav class="nav-Bar">
      <a href="#" class="logo">Wok, & roll </a>
      <div class="nav-links">
        <div class="social-buttons">
          <a href="https://www.facebook.com/profile.php?id=100089970687570" class="social-button social-button--facebook" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/wok_and_roll98/" class="social-button social-button--instagram" aria-label="Instagram">
            <i class="fa-brands fa-instagram"></i>          </a>
          <a href="#" class="social-button social-button--snapchat" aria-label="Snapchat">
            <i class="fab fa-snapchat-ghost"></i>
          </a>
          <a href="https://github.com/jackymomomo/Food-Pick-up-Ordering-app" class="social-button social-button--github" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
          <a href="#" class="social-button social-button--codepen" aria-label="CodePen">
            <i class="fab fa-codepen"></i>
          </a>
        </div>

      </div>
      <a href="#" class="signup-btn"><div id="cart-icon">
        <i class="fa-solid fa-bag-shopping"></i>
      </div></a>
    </nav>

    <!-- Food menus html -->
    <section class="food-menus">
      <h2 class="menu-logo">Menus</h2>
    <div class="food-images">
      <a href="#menu1" class="food-item">
        <img class="specials" src="https://cdn.discordapp.com/attachments/1073664859222319154/1075652102715605132/first.jpg">
      </a>
      <a href="#menu2" class="food-item">
        <img class="dinner" src="https://cdn.discordapp.com/attachments/1073664859222319154/1075652103000821760/middle.jpg">
      </a>
      <a href="#menu3" class="food-item">
        <img class="breakfast" src="https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80" >
      </a>
    </div>
      <div id="menu1" class="menu">
        <h3 class="menu-header">Specials</h3>
        <div class="grid-container">
          <% menuItems.forEach((menuItem) => { %>
            <div class="product-box">
              <h2 class="product-title">
                <%= menuItem.item_name %>
              </h2>
              <p class="product-description">
                <%= menuItem.description %>
              </p>
              <span class="product-price">
                <%= menuItem.price %>
              </span>
              <i class="fa-solid fa-bag-shopping add-cart"></i>
            </div>
          <% }) %>
        </div>
      </div>
      <div id="menu2" class="menu">
        <h3 class="menu-header">Dinner</h3>
        <div class="grid-container">
          <% menuItems.forEach((menuItem) => { %>
            <div class="product-box">
              <h2 class="product-title">
                <%= menuItem.item_name %>
              </h2>
              <p class="product-description">
                <%= menuItem.description %>
              </p>
              <span class="product-price">
                <%= menuItem.price %>
              </span>
              <i class="fa-solid fa-bag-shopping add-cart"></i>
            </div>
          <% }) %>
        </div>
      </div>
      <div id="menu3" class="menu">
        <h3 class="menu-header">Lunch</h3>
        <div class="grid-container">
          <% menuItems.forEach((menuItem) => { %>
            <div class="product-box">
              <h2 class="product-title">
                <%= menuItem.item_name %>
              </h2>
              <p class="product-description">
                <%= menuItem.description %>
              </p>
              <span class="product-price">
                <%= menuItem.price %>
              </span>
              <i class="fa-solid fa-bag-shopping add-cart"></i>
            </div>
          <% }) %>
        </div>
      </div>
    </section>

    <!-- Pepsi Ad -->
    <section class="pepsi-ad">
      <div class="card">
        <div class="circle"></div>
        <div class="content">
          <h2>Pepsi</h2>
          <h3>Sponsored</h3>
          <p>
            Looking for a refreshing drink that packs a punch? Look no further than Pepsi, with its bold and
            irresistible flavor that's perfect for any occasion. Try a cold and crisp Pepsi today and experience the ultimate refreshment.
          </p>
          <a href="#">Buy Now</a>
        </div>
        <img src="https://www.pepsi.com/en-us/uploads/images/can-pzs.png" alt="" />
      </div>
      <div class="discount">
        <h2>Pepsi!</h2>
        <p>free with every order over 20$!</p>
      </div>
    </section>


    <!-- cart -->
    <div class="cart">
      <h2 class="cart-title">Your Cart</h2>
      <!-- cart content -->
      <div class="cart-content">
        <!-- remove cart -->
      </div>
      <!-- total -->
      <div class="total">
        <div class="total-title"></div>
        <div class="total-price">$0</div>
      </div>
      <!-- buy button -->
      <button type="button" class="button-buy">Buy Now</button>
      <!-- cart close -->
      <i class="fa-solid fa-x" id="cart-close"></i>
    </div>

    <section class="about">
      <h3>About Us</h3>
      <p>Wok and Roll is a family-owned Asian restaurant that has been serving fresh and delicious Chinese, Japanese, and Thai cuisine since 2005. We are committed to using only the freshest ingredients and preparing our dishes with care and attention to detail. </p>
      <p>Our menu includes a variety of appetizers, entrees, and desserts, as well as vegetarian and gluten-free options. We also offer catering services for events of all sizes. </p>
      <p>At Wok and Roll, we strive to provide our customers with a friendly and welcoming atmosphere, as well as exceptional food and service. We look forward to serving you soon!</p>
    </section>
    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="https://i.pinimg.com/564x/db/63/df/db63dfb015cec41306deee05c762d2a0.jpg" alt="Logo">
          <h3>Wok & Roll</h3>
        </div>
        <div class="footer-nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-social">
          <h3>Follow us on social media</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100089970687570"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/wok_and_roll98/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 Wok & Roll. All rights reserved.</p>
      </div>
    </footer>


</body>

</html>
